.Rproj.user
.Rhistory
.RData
.Rapp.history
.Rbuildignore
.DS_Store
.lintr
.vscode/*
LICENSE

tests/testthat/dump/*.pdf
tests/testthat/dump/*.txt
tests/matlab
tests/matlab/*

linting.R
mdatools.Rproj
localtests.R


*-r.json

tests/testthat/jsonfiles/pca-model-1-r.json
tests/testthat/jsonfiles/pca-model-2-r.json
tests/testthat/jsonfiles/pca-model-3-r.json
tests/testthat/jsonfiles/pca-model-4-r.json
tests/testthat/jsonfiles/pls-model-1-r.json
tests/testthat/jsonfiles/pls-model-2-r.json
tests/testthat/jsonfiles/pls-model-3-r.json
tests/testthat/jsonfiles/pls-model-4-r.json
